<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Title</title>
</head>
<body>

  <p> A little info about our book!
    <br>
    Title: <%= book.title%>
    <br>
    Author: <%= book.author%>
  </p>

<a href="/books">Go home</a>

</body>
</html>