<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
<script language="javascript" type="text/javascript" src="script.js"></script>
<title>xxx</title>
</head>

<body>

Your result is <%= result %>.


</body>

</html>