<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<script language="javascript" type="text/javascript" src="script.js"></script>
</head>

<body>
	<h1>Blog</h1>

	<a href="/posts/new">Add a new post</a>

	<% posts.forEach(function(post) { %>
		<p> <%= post.title %> by <%= post.body %> </p>
	<% }); %>


</body>

</html>