<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<form action="/book/<%= book.id %> ?_method=put" method="post">
	<input name="book[title]">
	<input name="book[author]">	
</form>

</body>
</html>
